<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Life Planner</title>
</head>

<body>
<div class="container">
  <div class="header"><img src="/assets/pencil-n-paper_small.jpg" alt="Small Logo" name="Insert_logo" width="180" height="90" id="Small_logo" style="background-color: #C6D580; display:block;" />
   <button type="submit" id="signup" onclick="signup_b()"value="0">Signup</button>
   <button type="submit" id="login" onclick="login_b()"value="0">Login</button>
   <script>
		function signup_b() {
	    	location.href = "signups"
		}
		function login_b(){
			location.href = "to_dos"
		}

	</script>
  <!-- end .header --></div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="to_dos">My Planner</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  
    <!-- end .sidebar1 --></div>
  <div class="content">
    <h1>Our Goal</h1>
    <p>We want to create a web application to keep track of all events that are happening in our life.<br> They include but are not limited to:<br>
    <ul>
   	  <li> Class schedule for student</li>
        <li> Birth day of your loved ones</li>
        <li> Goals that you want to achieve</li>
        <li> And many more features to come</li>
    </ul>
    </p>
    
    
    <h2>Why would you want to join us?</h2>
    <p>
    	Life gets busy, really busy. Don't let it overwhelm you.
    </p>
    <p>Whether you just want to get ahead in life, or catch up in life. We will be there for you, every step along the way.</p>
    <!-- end .content --></div>
  <div class="footer">
    <p><strong>© 2016 Mak Survival Edition.  All rights reserved</strong></p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>
