<div class="container">
    <div class="header"><img src="/assets/pencil-n-paper_small.jpg" alt="Small Logo" name="Insert_logo" width="180" height="90" id="Small_logo" style="background-color: #C6D580; display:block;" />
		
    <!-- end .header --></div>

    <div class="sidebar1">
        <ul class="nav">
	 	    <li><a href="../">Home</a></li>
	        <li><a href="../to_dos">My Planner</a></li>
			<li><a href="#">Contact Us</a></li>
    	</ul>
    <!-- end .sidebar1 --></div>
    <div class="content" >
    	<h1>Editing Signup</h1>
		<%= render 'form' %>
		<%= link_to 'Show', @signup %> 
		<%= link_to 'Back', signups_path %>
    <!-- end .content --></div>

    <div class="footer">
        <p><strong>© 2016 Mak Survival Edition.  All rights reserved</strong></p>
    <!-- end .footer --></div>
<!-- end .container --></div>
